*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAVBAR*/
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand_span{
    color: red;
}

.navbar-link{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px
}

.cart-icon{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
}

.navbar-link:hover, .cart-icon:hover{
    background-color: white;
    color: black;
    transition: all .3s;
}

/*TITLE*/
.main-title{
  color: #fff;  
}

/*CARDS*/
.row{
    gap: 20px;
}

.card{
    background-color: #000;
    color: #fff;
}

.card-body{
    text-align: center;
}

img{
    width: 266px;
    height: 329px;
    object-fit: scale-down;
}

/*MODAL*/
