* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    font-family: 'Lora', serif;
    background-color: black;
    color: white; }
  
  .navbar {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6) !important; }

  
  .collapse .nav-link{
    background-color: black;
    color: orange}
  
  .titulo-productos {
      text-align: center;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 1rem; }


    .card{
      background-color: #000;
      border-color:  white;
    }

    .card-body{
      flex: none;
      padding: 0;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  .card_img{
    width: 250px;
    height: 250px;
    object-fit:contain;
    margin: 0 auto;
  }

    
  